<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="demo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="demo.Perspective"
            id="demo.perspective">
      </perspective>
      <perspective
            class="demo.Perspective"
            id="demo.perspective1"
            name="name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="demo.View"
            id="demo.view"
            name="view"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="demo.ChangeView"
            id="demo.changeview"
            name="changeView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.ExitHandler"
            id="demo.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="commands.DeletePerson"
            id="demo.command.delete"
            name="delete">
      </command>
      <command
            defaultHandler="commands.AddPerson"
            id="demo.command.add"
            name="Add">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="&amp;File">
            <command
                  commandId="demo.command.add"
                  label="Add"
                  style="push"
                  tooltip="add new a person">
            </command>
            <command
                  commandId="demo.command.delete"
                  label="Delete "
                  style="push"
                  tooltip="delete selected person">
            </command>
            <separator
                  name="demo.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="demo.command.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="demo.command.add"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="alt+1">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="demo.application"
            name="demo">
         <property
               name="appName"
               value="demo">
         </property>
         <property
               name="windowImages"
               value="icons/sample.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
      </product>
   </extension>

</plugin>
